---
import BaseLayout from "$/layouts/BaseLayout.astro"
import PostPreview from "$/components/PostPreview.astro"

export async function getStaticPaths({ rss, paginate }) {
    const allPosts = Astro.fetchContent("./*.md");
    const nonDraft = allPosts.filter(p => p.draft === false)
    const sortedPosts = nonDraft.sort((a, b) => new Date(b.modified) - new Date(a.modified))

    rss({
        title: 'meizuflux\'s blog',
        description: 'An example blog on Astro',
        customData: `<language>en-us</language>`,
        items: sortedPosts.map(item => ({
            title: item.title,
            description: item.description,
            link: item.url,
            created: item.created,
            modified: item.modified,
        })),
        dest: "/posts/feed.xml",
  });

    return paginate(sortedPosts, {
        pageSize: 20
    })
}

const { page } = Astro.props;
---
<BaseLayout title="Posts"/>
    <a href="/posts/all-posts">View All Posts</a>
    {page.data.map((post) => (
        <PostPreview data={post} />
    ))}
</BaseLayout>