---
import BaseLayout from "$/layouts/BaseLayout.astro"

const allPosts = Astro.fetchContent("./*.md");
const sortedPosts = allPosts.sort((a, b) => new Date(b.modified) - new Date(a.modified));
---
<BaseLayout title="All Posts">
    {sortedPosts.map(p => (
        <p>{p.modified} | <a href={p.url}>{p.title}</a></p>
    ))}
</BaseLayout>

