---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { formatDate, sortByYear } from "../../utils"

var allPosts, sortedPosts

export async function getStaticPaths({paginate, rss}) {
    allPosts = Astro.fetchContent('./*.md');
    sortedPosts = allPosts.sort((a, b) => new Date(b.modified) - new Date(a.modified));

    rss({
        title: "meiuflux's blog",
        description: 'the blog that does be mine',
        customData: `<language>en-us</language>`,
        items: sortedPosts.map(item => ({
            title: item.title,
            description: item.description,
            link: item.url,
            pubDate: item.modified,
        })),
        dest: "/blog/feed.xml"
    });

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, {pageSize: 999});
}

const { page } = Astro.props;
const posts = sortByYear(page.data)
---
<BaseLayout title="Blog">
    <h1 style="text-align: center;">blog</h1>

    {(Object.keys(posts).sort((a, b) => b-a)).map((key, index) => (
        <h2>{key}</h2>
        <ul>
            {posts[key].map(p => (
                <li>
                    <a href={p.url}>{p.title}</a> — <time datetime>{formatDate(p.modified)}</time>
                </li>
            ))}
        </ul>
    ))}

</BaseLayout>

