---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { formatDate, sortByYear } from "../../utils"

var allPosts = Astro.fetchContent("./*.md");
var sortedPosts = allPosts.sort((a, b) => new Date(b.modified) - new Date(a.modified));

const posts = sortByYear(sortedPosts)
---
<BaseLayout title="Blog">
    <h1 style="text-align: center;">blog</h1>

    {(Object.keys(posts).sort((a, b) => b-a)).map((key, index) => (
        <h2>{key}</h2>
        <ul>
            {posts[key].map(p => (
                <li>
                    <a href={p.url}>{p.title}</a> — <time datetime>{formatDate(p.modified)}</time>
                </li>
            ))}
        </ul>
    ))}

</BaseLayout>

