---
const { title } = Astro.props
---
<head>
    <title>meizuflux | {title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={Astro.resolve("../styles/prism/atom-dark.css")}>
</head>