---
import AddPrism from "$/components/Code.tsx"
const { title, code } = Astro.props;
---
<html>
    <head>
        <title>meizuflux | {title}</title>
        <AddPrism value={code} />
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/posts">Blog</a>
            <a href="/projects">Projects</a>
        </nav>
        <main>
            <slot />
        </main>
    </body>
</html>
