---
import Head from "$/components/Head.astro"
const { title, code } = Astro.props;
---
<html>
    <Head title={title} addCode={code} />
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/posts">Blog</a>
            <a href="/projects">Projects</a>
        </nav>
        <main>
            <slot />
        </main>
    </body>
</html>
