---
import Head from "../components/Head.astro"
import Navigation from "../components/Nav.astro"


const { title, description } = Astro.props;
---
<html lang="en">
    <head>
        <Head title={title} description={description}/>
    </head>
    <body>
        <Navigation />
        <slot />
    </body>
</html>
