---
const { title } = Astro.props;
---
<head>
    <title>meizuflux | {title}</title>
</head>
<nav>
    <a href="/">Home</a>
    <a href="/posts">Blog</a>
    <a href="/projects">Projects</a>
</nav>
<main>
    <slot />
</main>